.dataGridHeader {
	font-size: 12px;
	border-bottom: 2px solid #6f7277;
  	padding: 3px 15px;
  	text-align: left;
  	color: #4b4a4a;
  	text-shadow: #ddf 1px 1px 0;
  	overflow: hidden;
	white-space: nowrap;
}